Repository straddleio/nerdcon: changes, and which Codecov flags are due for each by the changed paths.
All: server, web

codecov.yml:

coverage:
  status:
    project:
      default:
        target: 50%
        threshold: 5%
    patch:
      default:
        target: 50%
        threshold: 10%

comment:
  layout: "diff, flags, files"
  behavior: default

flags:
  server:
    paths:
      - server/src/
  web:
    paths:
      - web/src/

feat: UI button API logs in terminal + docs reorganization (#24)
  docs/archive/TEST-FINDINGS-11-17-2025.md
  docs/archive/TESTING.md
  docs/archive/features/customer-unmask.md
  docs/archive/plans/2025-11-17-customer-unmask-feature.md
  docs/archive/plans/2025-11-17-paykey-review-debugging-fixes.md
  docs/archive/plans/2025-11-17-terminal-ui-improvements.md
  docs/archive/plans/paykey-review-ui-design.md
  docs/archive/plans/paykey-review-ui-implementation-plan.md
  docs/plans/2025-11-17-ui-button-api-logs-in-terminal.md
  docs/plans/2025-11-17-ui-button-api-logs-verification.md
  web/src/components/Terminal.tsx
  web/src/lib/__tests__/api.test.ts
  web/src/lib/__tests__/state.test.ts
  web/src/lib/__tests__/useSSE.integration.test.ts
  web/src/lib/api.ts
  web/src/lib/state.ts
  web/src/lib/useSSE.ts
Due: web

feat(ui): upgrade Paykey Generator to V5 'God Tier' (3D/WebGL)
  .node-version
  docs/archive/WALDO Identity Matching.md
  docs/reports/2025-11-18-paykey-generator-v5-god-tier.md
  docs/reports/2025-11-18-paykey-generator-v5.1-update.md
  package-lock.json
  render.yaml
  skull-removebg-preview.png
  web/package.json
  web/src/components/PaykeyGeneratorModal.tsx
  web/src/components/generator/v5/CyberBackground.tsx
  web/src/components/generator/v5/GeneratorModal.tsx
  web/src/components/generator/v5/Scene.tsx
  web/src/components/generator/v5/stages/Blake3D.tsx
  web/src/components/generator/v5/stages/Minting3D.tsx
  web/src/components/generator/v5/stages/Waldo3D.tsx
  web/src/lib/state.ts
Due: web

feat: Add Straddle Bridge Widget integration and PaykeyCard UI buttons (#28)
  .claude/settings.local.json
  docs/plans/2025-11-18-paykey-card-ui-buttons.md
  package-lock.json
  server/src/routes/bridge.ts
  web/package.json
  web/src/App.tsx
  web/src/components/dashboard/PaykeyCard.tsx
  web/src/components/dashboard/__tests__/PaykeyCard.buttons.test.tsx
  web/src/components/modals/BridgeModal.tsx
  web/src/components/modals/__tests__/BridgeModal.test.tsx
  web/src/lib/__tests__/commands.bridge.test.ts
  web/src/lib/api.ts
  web/src/lib/commands.ts
  web/src/lib/state.ts
Due: server, web

feat: Add business customer support with comprehensive testing (#27)
  docs/archive/reports/2025-11-18-code-review-business-customers.md
  docs/archive/reports/2025-11-18-production-audit-summary.md
  docs/plans/2025-11-18-paykey-generator-modal-debugging.md
  docs/plans/2025-11-18-production-readiness-audit.md
  server/src/domain/types.ts
  server/src/routes/bridge.ts
  server/src/routes/paykeys.ts
  test-results.txt
  web/src/__tests__/business-customer-flow.integration.test.tsx
  web/src/components/ReviewDecisionModal.tsx
  web/src/components/Terminal.tsx
  web/src/components/__tests__/ReviewDecisionModal.test.tsx
  web/src/components/cards/ChargeCard.tsx
  web/src/components/cards/CustomerCard.tsx
  web/src/components/cards/PaykeyCard.tsx
  web/src/components/cards/__tests__/CustomerCard.test.tsx
  web/src/components/dashboard/PaykeyCard.tsx
  web/src/components/generator/__tests__/WaldoStage.test.tsx
  web/src/lib/__tests__/commands-business.test.ts
  web/src/lib/api.ts
  web/src/lib/commands.ts
Due: server, web

chore: archive Bridge modal investigation and clean up worktrees
  docs/archive/reports/bridge-modal-investigation/BRIDGE_MODAL_ISSUE_REPORT.md
  docs/archive/reports/bridge-modal-investigation/BRIDGE_MODAL_TEST_REPORT.md
  docs/archive/reports/bridge-modal-investigation/screenshots/bridge-modal-after-close.png
  docs/archive/reports/bridge-modal-investigation/screenshots/bridge-modal-before-close.png
  docs/archive/reports/bridge-modal-investigation/screenshots/bridge-modal-close-test.png
  docs/archive/reports/bridge-modal-investigation/screenshots/bridge-modal-debug.png
  docs/archive/reports/bridge-modal-investigation/screenshots/bridge-modal-final.png
  docs/archive/reports/bridge-modal-investigation/screenshots/bridge-modal-initial.png
  docs/archive/reports/bridge-modal-investigation/screenshots/detailed-close-test.png
  docs/archive/reports/bridge-modal-investigation/screenshots/iframe-orphan-test.png
  docs/archive/reports/bridge-modal-investigation/screenshots/skull-removebg-preview.png
  docs/archive/reports/bridge-modal-investigation/screenshots/state-after-close.png
  docs/archive/reports/bridge-modal-investigation/screenshots/state-before-close.png
Due: none

fix: disable paykey generator in /demo command
  web/src/lib/commands.ts
Due: web

feat: trigger paykey generator after successful Bridge flow
  web/src/components/modals/BridgeModal.tsx
Due: web

feat: show 'Business Verification' for business customers
  web/src/components/dashboard/CustomerCard.tsx
  web/src/lib/api.ts
Due: web

feat: display business codes correctly - BR=risk, BI/BV=insights
  web/src/components/dashboard/CustomerCard.tsx
Due: web

feat: implement /end command with audio playback
  web/src/lib/__tests__/commands.end.test.ts
  web/src/lib/commands.ts
Due: web

feat: add charge status event sound for successful charges
  web/public/sounds/charge_status_event.mp3
  web/src/lib/__tests__/sounds.test.ts
  web/src/lib/__tests__/useSSE.audio.test.tsx
  web/src/lib/sounds.ts
  web/src/lib/useSSE.ts
Due: web

feat: make end demo sound play twice back-to-back
  web/src/lib/sounds.ts
Due: web

feat: add menu open/close sounds to command menu
  web/public/sounds/menu_closed.mp3
  web/public/sounds/menu_opened.mp3
  web/src/components/Terminal.tsx
  web/src/lib/__tests__/sounds.test.ts
  web/src/lib/sounds.ts
Due: web

feat: add retro arcade end demo banner
  web/src/App.tsx
  web/src/components/EndDemoBanner.tsx
  web/src/lib/commands.ts
  web/src/lib/design-system/retro-design-system.ts
  web/src/lib/state.ts
  web/src/styles/retro-styles.css
Due: web

feat: add expandable paykey details to circular charge tracker
  web/src/components/dashboard/CircularChargeTracker.tsx
  web/src/components/dashboard/__tests__/CircularChargeTracker.test.tsx
  web/src/lib/design-system/retro-design-system.ts
Due: web

feat: add embedded paykey to charge card
  web/src/components/dashboard/ChargeCard.tsx
  web/src/components/dashboard/__tests__/ChargeCard.embedded.test.tsx
Due: web

feat: add progressive disclosure transition animations
  web/src/index.css
  web/src/styles/progressive-disclosure.css
Due: web

fix: update DashboardView test for progressive disclosure
  web/src/components/dashboard/__tests__/DashboardView.test.tsx
Due: web

test: add progressive disclosure integration tests
  web/src/__tests__/progressive-disclosure.integration.test.tsx
Due: web

docs: add progressive disclosure documentation
  CLAUDE.md
  docs/verification/progressive-disclosure-checklist.md
  server/src/routes/__tests__/state.test.ts
  web/src/components/__tests__/EndDemoBanner.test.tsx
  web/src/components/dashboard/__tests__/DashboardView.progressive.test.tsx
Due: server, web

refactor: simplify charge card labels using TDD
  web/src/components/dashboard/ChargeCard.tsx
  web/src/components/dashboard/CircularChargeTracker.tsx
  web/src/components/dashboard/__tests__/ChargeCard.embedded.test.tsx
  web/src/components/dashboard/__tests__/CircularChargeTracker.test.tsx
Due: web

feat: enhance embedded paykey key icon as prominent CTA
  web/src/components/dashboard/ChargeCard.tsx
  web/src/components/dashboard/CircularChargeTracker.tsx
  web/src/components/dashboard/__tests__/CircularChargeTracker.test.tsx
Due: web

docs: add comprehensive Render deployment guide with all environment variables
  RENDER_DEPLOYMENT.md
Due: none

fix: remove region from static site in render.yaml
  render.yaml
Due: none

polish: add 2 more commands to UserGuideTab for completeness
  web/src/components/UserGuideTab.tsx
Due: web

fix: bind paykey generator to 0.0.0.0 and add health check endpoint
  paykey-generator/server.py
Due: none

docs: add UserGuideTab to project documentation
  CLAUDE.md
Due: none

feat: integrate UserGuideTab into RightPanel with guide tab
  web/src/App.tsx
  web/src/layout/RightPanel.tsx
  web/src/layout/__tests__/RightPanel.test.tsx
Due: web

chore: remove Python paykey generator from Render deployment
  render.yaml
Due: none

fix: move TypeScript build dependencies to production deps
  package-lock.json
  server/package.json
Due: none

fix: add https:// protocol to Render service URLs
  render.yaml
  server/src/config.ts
  web/src/lib/api.ts
Due: server, web

fix: pass backend URL to frontend at build time
  render.yaml
  web/src/lib/api.ts
Due: web

fix: use RENDER_EXTERNAL_URL instead of host property
  render.yaml
Due: none

Update README.md
  README.md
Due: none

fix(tests): correct test name to match actual behavior
  server/src/__tests__/config.test.ts
Due: server
